@model ShopSphere.Application.DTOs.ProductDto

<h2>Product Details</h2>

<div>
    <strong>Name:</strong>
    @Model.Name
</div>

<div>
    <strong>Price:</strong>
    @Model.Price
</div>

<div>
    <strong>Stock:</strong>
    @Model.StockQuantity
</div>